{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{# 공통으로 들어갈 헤더 자리 #}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'onelab/favicon/favicon-32x32.png' %}">
    <link rel="stylesheet" href="{% static 'public/css/main-page-header.css' %}">
{# 개별 헤더 자리 #}
    {% block static %}{% endblock %}
{# 개별 타이틀 자리 #}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'fix/header.html' %}
    {% block content%}{% endblock %}
{#    {% include 'fix/footer.html' %}#}
</body>
{% block js %}
{% endblock %}
</html>