@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
html {
    font-family: Pretendard Variable,pretendard,-apple-system,blinkmacsystemfont,
    system-ui,roboto,Helvetica Neue,
    Segoe UI,Apple SD Gothic Neo,Noto Sans KR,
    Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,
    Segoe UI Symbol,sans-serif;
}

:before {
    box-sizing: border-box;
}

:after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


div {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.web-header {
    position: static;
    transition: top .25s;
    width: 100%;
}

header {
    display: block;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

h1 {
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

span {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

img {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

img#one-lab {
    max-width: 50%;
    vertical-align: top;
    margin-left: 130px;
    border: 0;
    padding: 0;
}

ul {
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    vertical-align: baseline;
}

form {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

input {
    color: inherit;
    font-family: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

button {
    font-family: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    vertical-align: 0;
    color: inherit;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

strong {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

article {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

ol {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

p {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

em {
    font-style: normal;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

dl {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

dt {
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

dd {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

section {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

h4 {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

address {
    font-weight: inherit;
    font-style: normal;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}


@supports (padding-bottom: env(safe-area-inset-bottom))
{.web-footer {
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}}

.withicon-icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.web-footer {
    position: relative;
    background: #fff;
    padding-top: 120px;
    color: #212121;
    font-size: 12px;
}

.footer-menu-container {
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    text-align: left;
}

.footer-menu-bar {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1440px;
    display: flex;
}

.footer-menu-left {
    width: auto;
    display: flex;
    flex-direction: row;
}

.footer-menu-menu {
    padding: 0 12px 0 16px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    height: 40px;
    text-align: left;
    color: #495057;
    line-height: 20px;
    font-size: 14px;
}

.footer-menu-menu>.linker-linker-icon {
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
}

.footer-menu-menu svg {
    font-size: 16px;
}

.menu-a {
    position: absolute;
    z-index: 2;
    border: solid 1px #babdc0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    background-color: #fff;
    padding: 8px 0;
    width: 270px;
    display: none;
}

.link-menu-block:first-child {
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
}

.link-menu-link {
    display: block;
    padding-left: 16px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 15px;
}

.web-footer a {
    transition: color .2s;
}

.link-menu-link svg {
    font-size: 16px;
}

.link-menu-open-link-icon {
    display: inline-block;
    margin-left: 4px;
    vertical-align: text-top;
}

.footer-menu-menu-bold {
    font-weight: 700;
    padding: 0 12px 0 16px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    height: 40px;
    text-align: left;
    color: #495057;
    line-height: 20px;
    font-size: 14px;
    position: relative;
    outline: none;
}

.footer-menu-menu-bold>.linker-linker-icon {
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
}

.menu-b {
    position: absolute;
    z-index: 2;
    border: solid 1px #babdc0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    background-color: #fff;
    padding: 8px 0;
    width: 270px;
    display: none;
}

.footer-menu-right {
    flex-wrap: nowrap;
    margin-left: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}

.footer-menu-right .footer-menu-menu {
    padding: 0 12px 0 16px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    height: 40px;
    text-align: left;
    color: #495057;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.menu-c {
    position: absolute;
    z-index: 2;
    border: solid 1px #babdc0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    background-color: #fff;
    padding: 8px 0;
    width: 270px;
    display: none;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    width: 320px!important;
}

.contract-line-contact-menu {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-left: 16px;
    line-height: 1;
}

.contact-menu-title {
    display: block;
    margin-right: 4px;
    height: 24px!important;
    line-height: 24px!important;
    font-size: 15px;
    font-weight: 700;
}

.contact-menu-sub {
    display: inline-block!important;
    top: -8px;
    height: 24px!important;
    line-height: 24px!important;
    color: #1d2129!important;
    font-size: 15px!important;
}

.footer-menu-menu-notice {
    padding: 0 12px 0 16px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    height: 40px;
    text-align: left;
    color: #495057;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.footer-menu-open-link-icon {
    display: inline-block;
    margin-left: 6px;
    vertical-align: text-top;
}

.footer-menu-menu-recru {
    padding: 0 12px 0 16px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    height: 40px;
    text-align: left;
    color: #495057;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.footer-menu-menu-recru svg {
    font-size: 16px;
}

.footer-menu-menu-notice svg {
    font-size: 16px;
}

.footer-menu-menu-sns {
    padding: 0 12px 0 16px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    height: 40px;
    text-align: left;
    color: #495057;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    outline: none;
}

.footer-menu-menu-sns>.linker-linker-icon {
    display: inline-block!important;
    transform: rotate(90deg);
    animation: Linker_activeHide .5s forwards;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
}

.menu-d {
    position: absolute;
    z-index: 2;
    border: solid 1px #babdc0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    background-color: #fff;
    padding: 8px 0;
    width: 270px;
    display: none;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.sns-menu-menu {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 16px;
    line-height: 1;
}

.sns-menu-sub {
    display: flex!important;
    align-items: center;
    line-height: 24px!important;
    color: #1d2129!important;
    font-size: 15px!important;
}

.withicon-inline {
    display: inline;
}

.sns-menu-sub svg {
    font-size: 16px;
    margin-right: 8px;
}

.sns-menu-space {
    display: inline-block;
    width: 28px;
}

.footer-container-container {
    padding-bottom: 0;
    padding: 0 80px;
}

.footer-container-inner {
    flex-direction: row;
    gap: 80px;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
}

.footer-container-left-section {
    padding: 40px 0 80px;
    width: 255px;
    border-bottom: 1px solid #f2f4f6;
}

.footer-container-title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #212529;
}

.footer-container-title:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA8UExURUdwTCUoLSEmKyEmKSElKScsLiImKiElKSElKSEmKiElKiIlKyElKiInKyIlKSIlKiImKSQqLS1AQCElKRLEMhcAAAATdFJOUwAiVJbvEoz7vm7ZSaMxdqumGwUhhJyxAAABbElEQVRIx6VW2aKEIAglcwGrafH///VW0zSh0DKXR0Q8HDYB/i/OkB8QW0/GXVtXhCHtEpDGc/M+FdJWOpY6JEGCV5A1NiliG8n+lXQJVJhPbTqVesouXNjPNy7whCJ+hqrhZ7hkzBnkLg6RO8aP3X3R8Zlgv+zWzJWZPVBd03xu2IHf88vw9p+MLOyzzIdPznk9dDBuCO0IHa+S7QGeVQB/wMCz/65EYroIsLODAFGgFjn/MQb1Aq6cZikKLLscUliYNXo5NFnQK+VZCFn5eKE+vGY/c9SFUgeDYv8CGGOuHHKSuP/CfqVJvhAn6ISWRRWSARcF9aAFPRP+UoDKtEYFKmmJ0y4YoTTeNYtoZaQ6r5KgUN6nQkIDbTEQSZAqqUW3PpX89OIQ2Po0b4XjEMjGzPZCdzItx8KZ9b7UOXVUav13czl8++PRuG8fLpR2erSycjy/LUV97dbu0WLvq2dfh+r252S49zm5lD8cD271e3tWtwAAAABJRU5ErkJggg==) no-repeat center/16px 16px;
    content: "";
}

.footer-container-title:before {
    background-size: 20px 20px;
}

.footer-container-direct-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 4px 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0;
    text-align: left;
    color: #495057;
}

.footer-container-direct-btn svg {
    margin-left: 8px;
    font-size: 20px;
}

.footer-container-enable-time {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    padding-top: 20px;
    border-top: 1px solid #f2f4f6;
    white-space: nowrap;
    color: #868e96;
}

.footer-container-enable-time dt {
    margin-bottom: 4px;
    font-weight: 700;
}

.footer-container-right-section {
    padding: 40px 0 80px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.footer-info-info li {
    display: inline;
    color: #495057;
}

.footer-info-info li:after {
    margin: 0 5px;
    color: #dde2e6;
    content: "|";
}

.footer-info-contact-info-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-info-contact-info {
    margin-top: 4px;
}

.footer-info-contact-info li {
    display: inline;
    color: #495057;
}

.footer-info-contact-info li:after {
    margin: 0 5px;
    color: #dde2e6;
    content: "|";
}

.footer-info-copyright {
    display: inline-block;
    margin-top: 4px;
    color: #000;
    font-weight: 900;
}

.footer-container-info-notice {
    margin-top: 16px;
    color: #868e96;
}

.footer-container-info-notice p {
    display: block;
}

.footer-container-app-store-section {
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

img#google {
    margin-right: 5px;
    border: 0;
    padding: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

img#apple {
    margin-left: 37px;
    margin-right: 5px;
    border: 0;
    padding: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.footer-container-app-store-section a {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}