@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://static.wadiz.kr/assets/fonts/wadizicon.css");
html {
    font-family: Pretendard Variable,pretendard,-apple-system,blinkmacsystemfont,
    system-ui,roboto,Helvetica Neue,
    Segoe UI,Apple SD Gothic Neo,Noto Sans KR,
    Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,
    Segoe UI Symbol,sans-serif, wadizicon;
}

:root {
    --rpv-core__annotation--link-hover-background-color: rgba(255, 255, 0, .2);
    --rpv-core__annotation-popup-wrapper-background-color: #faf089;
    --rpv-core__annotation-popup-wrapper-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    --rpv-core__annotation-popup-content-border-top-color: #1a202c;
    --rpv-core__arrow-border-color: rgba(0, 0, 0, .3);
    --rpv-core__asking-password-color: #000;
    --rpv-core__asking-password-wrapper-background-color: #fff;
    --rpv-core__asking-password-wrapper-border-color: rgba(0, 0, 0, .3);
    --rpv-core__button-background-color: rgba(0, 0, 0, .3);
    --rpv-core__button-color: #000;
    --rpv-core__doc-error-background-color: #fff;
    --rpv-core__doc-error-text-background-color: #c02424;
    --rpv-core__doc-error-text-color: #fff;
    --rpv-core__doc-loading-background-color: #fff;
    --rpv-core__full-screen-target-background-color: #fff;
    --rpv-core__inner-page-background-color: #fff;
    --rpv-core__menu-divider-border-bottom-color: rgba(0, 0, 0, .3);
    --rpv-core__menu-item-color: #000;
    --rpv-core__menu-item--hover-background-color: rgba(0, 0, 0, .1);
    --rpv-core__menu-item--disabled-color: rgba(0, 0, 0, .3);
    --rpv-core__minimal-button-color: #000;
    --rpv-core__minimal-button--hover-background-color: rgba(0, 0, 0, .1);
    --rpv-core__minimal-button--disabled-color: rgba(0, 0, 0, .3);
    --rpv-core__minimal-button--selected-background-color: rgba(0, 0, 0, .1);
    --rpv-core__modal-body-background-color: #fff;
    --rpv-core__modal-body-border-color: rgba(0, 0, 0, .3);
    --rpv-core__modal-overlay-background-color: rgba(0, 0, 0, .5);
    --rpv-core__page-layer-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    --rpv-core__popover-body-background-color: #fff;
    --rpv-core__popover-body-border-color: rgba(0, 0, 0, .3);
    --rpv-core__popover-body-color: #000;
    --rpv-core__primary-button-background-color: #2566e8;
    --rpv-core__primary-button-color: #fff;
    --rpv-core__progress-bar-background-color: rgba(0, 0, 0, .1);
    --rpv-core__progress-bar-progress-background-color: #2566e8;
    --rpv-core__progress-bar-progress-color: #fff;
    --rpv-core__separator-border-bottom-color: rgba(0, 0, 0, .3);
    --rpv-core__spinner-border-color: rgba(0, 0, 0, .4);
    --rpv-core__spinner-border-transparent-color: transparent;
    --rpv-core__splitter-background-color: transparent;
    --rpv-core__splitter--hover-background-color: rgba(0, 0, 0, .2);
    --rpv-core__text-layer-text--selection-background-color: rgb(0, 0, 255, 1);
    --rpv-core__text-layer-text--selection-color: transparent;
    --rpv-core__textbox-background-color: #fff;
    --rpv-core__textbox-border-color: rgba(0, 0, 0, .2);
    --rpv-core__textbox-color: #000;
    --rpv-core__tooltip-body-background-color: #000;
    --rpv-core__tooltip-body-color: #fff;
}

:root {
    --scrollbar-width: 0;
    view-transition-name: root;
}
html {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Pretendard Variable,pretendard,-apple-system,blinkmacsystemfont,system-ui,roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}
html {
    display: block;
}

* {
    box-sizing: border-box;
}
body {
    display: block;
}
body {
    background: #f9f9f9;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    font-family : inherit;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

div {
    display: block;
}
div {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

h5{
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h5{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
/* ----------------헤더---------------------- */
.web-header {
    position: static;
    transition: top .25s;
    width: 100%;
}

.header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}
.header-container {
    padding: 0 80px;
}

.wadiz-logo {
    position: static;
    display: inline-block;
    top: 0;
    left: 16px;
    margin: 0;
    line-height: 22px;
    font-size: 32px;
}

.wadiz-logo>a {
    display: block;
    padding: 14px 0 18px;
}
.label {
    display: block;
    position: absolute;
    left: -9999px;
    visibility: none;
    height: 1px;
}

.wadiz-logo>a svg {
    max-width: none;
}

.GNBDesktop_container {
    display: inline-block;
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    justify-content: space-between;
    z-index: 1;
    margin-left: 24px;
    padding: 0;
    width: auto;
    list-style: none;
    vertical-align: top;
}

.GNBDesktop_item {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #212529;
}
.GNBDesktop_link {
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    transition: .2s;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    color: #212529;
    text-decoration: none;
}

.web-header-utils {
    display: flex;
    position: relative;
    margin-left: auto;
    top: 0;
    right: 0;
    vertical-align: top;
}

.DesktopSearchApp_container {
    min-width: 360px;
    display: inline-block;
    position: relative;
    padding: 8px 16px 8px 0;
    height: 56px;
}

.SearchController_container {
    border: 1px solid #00c4c4;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    position: relative;
    transition-property: border-color,background-color,color;
    transition-duration: .15s;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 10px 0 0;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    color: #212529;
}

.SearchTag_emptyTag {
    position: relative;
    width: 16px;
}
.SearchController_keyword {
    display: flex;
    position: relative;
    flex: 1 1 0%;
    margin-right: 40px;
}
.SearchController_keyword input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    flex-grow: 1;
    outline: none;
    background: none;
    padding-right: 32px;
    width: 100%;
    appearance: none;
    font-size: 14px;
}
.SearchController_searchIcon {
    position: absolute;
    top: 52%;
    right: 16px;
    left: auto;
    transform: translateY(-52%);
    z-index: 1;
    pointer-events: visible;
}
.SearchController_searchIcon svg {
    display: block;
}
.GNBDesktop_icon {
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    animation: GNBDesktop_slide-up__x9vwA .15s forwards;
    margin-left: 4px;
    color: #212529;
    font-size: 18px;
}
/* .MoreMenuDesktop_container {
    position: absolute;
    right: 0;
    left: 0;
    transition-property: max-height;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    visibility: hidden;
    z-index: 9000;
    background: #fff;
    width: 100%;
    max-height: 0;
    overflow: hidden;
} */

.DesktopSearchApp_conditionContainer {
    position: absolute;
    top: 56px;
    left: 0;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(10,22,70,.06), 0 16px 16px -1px rgba(10,22,70,.1);
    background-color: #fff;
    height: fit-content;
    max-height: 90vh;
    overflow: hidden;
    width: 511px;
}

.DesktopSearchApp_footer {
    position: relative;
    padding: 13px 16px 11px;
    text-align: right;
}

.DesktopSearchApp_footer button {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    padding: 8px;
    color: #adb5bd;
    font-weight: 500;
}

.HeaderDesktop_user {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.User_container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.User_btnSign {
    display: inline-block;
    cursor: pointer;
    padding: 0 8px;
    text-align: center;
    line-height: 56px;
    color: #495057;
    font-size: 15px;
}

.web-header-funding-open {
    display: inline-block;
    vertical-align: top;
}

.funding-open {
    margin-left: 12px;
}

.Button_contained .Button_childeren {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.funding-open-button {
    margin-top: 8px;
    border-radius: 4px;
    vertical-align: top;
}

.Button_children {
    vertical-align: top;
}

.PreviewOverlay_container {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ff9d9d;
    border-bottom: 1px solid #ff9d9d;
    background-color: #fff1f1;
    color: #f66;
}
.PreviewOverlay_title {
    line-height: 28px;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
}

.PreviewOverlay_description {
    margin-left: 16px;
}
input {
    color:inherit;
    font-family: inherit;
}
input {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

button {
    font-family: inherit;
    background-color: transparent;
    color: inherit;
    outline: none;
}
button {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.NotificationButton_container{
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.NotificationButton_btnNotification {
    width: 56px;
    height: 56px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.withIcon_icon.withIcon_inline {
    display: inline;
}

.NotificationButton_btnNotification svg {
    color: #000;
    font-size: 24px;
}
.withIcon_icon{
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.HeaderDesktop_user {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.User_container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.User_btnAvatar {
    display: inline-block;
    cursor: pointer;
    width: 56px;
    vertical-align: top;
    line-height: 56px;
}

.Avatar_avatar {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    vertical-align: middle;
}
.Avatar_avatar>span {
    display: block;
    position: absolute;
    opacity: 1;
    border-radius: 100%;
    background: no-repeat 50%/cover;
    width: 100%;
    height: 100%;
}

span {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.web-header-funding-open .funding-open-button {
    margin-top: 8px;
    border-radius: 4px;
    vertical-align: top;
}

.Button_contained {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button_md {
    padding: 9px 15px;
    height: 40px;
    font-size: 14px;
}

.Button_button {
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.Button_button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}


.black-bg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 10001;
}
#waccountWrap {
    width: 100%;
    min-height: 100%;
    background: #f9f9f9;
}

.waccount-wrap {
    width: 100%;
}

#waccountContainer {
    width: 400px;
    margin: 0 auto;
    padding: 50px 0;
    color: #4a4a4a;
}

.waccount-wrap h3 {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

.waccount-wrap h5 {
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}

.profileimg-wrap {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.profileimg {
    position: relative;
    display: block;
    padding: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    background: #000;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

button:not(:disabled) {
    cursor: pointer;
}

button{
    font-family: inherit;
    color: inherit;
    outline : none;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
div.image {
    background-image: url(/staticfiles/images/profile-icon1.png);
    cursor: pointer;
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
    background-position: center;
    width: 100%;
    height: 100%;
    outline : none;

}
.profileimg input {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background: no-repeat center center #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor : pointer;
    outline: none;
}


#resultProfileImg input {
    font-weight: inherit;
    font-style: normal;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

:after {
    box-sizing:border-box;
}

:before {
    box-sizing: border-box;
}

.setting-profileimg {
    display: block;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border : 0;
    vertical-align: baseline;
}
i {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font-style: italic;
}

li {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: list-item;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.setting-profileimg button {
    display: inline-block;
    padding: 0;
    margin: 0 5px;
    font-size: 13px;
    color: #4a4a4a;
    line-height: 13px;
    background: none;
    border: none;
    border-bottom: 1px solid #4a4a4a;
}

span {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.sub-text {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #4a4a4a;
}

.check-list-wrap {
    width: 100%;
    padding: 15px 0;
}


.check-list-wrap ul li {
    float: left;
    width: 50%;
    margin-bottom: 15px;
    height: 20px;
}

.check-list-wrap ul li input[type=checkbox] {
    display: block;
}

input {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

.input-check {
    cursor: pointer;
}

label
{
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
.input-check i {
    color: #23dbab;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

[class*='icon-']::before {
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: 'wadizicon' !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    background-image : none;
}

.icon-radio-button-unchecked:before {
    content: "";
}

.input-check i.checked {
    display: inline-block;
    /* background-image : url('/staticfiles/images/check_white.png') */
}


.check-list-wrap ul:after {
    content: "";
    clear: both;
    display: block;
}

.input-div2 {
    width: 100%;
    padding: 0;
}

.input-div2 li:first-child {
    float: left;
    width: 49%;
    padding: 0;
}
.input-div2 li:last-child {
    float: right;
    width: 49%;
    padding: 0;
}

.input-text {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 17px;
    margin-bottom: 7px;
    height: 46px;
    line-height: 45px;
    font-size: 13px;
    color: #4a4a4a;
    background: #fff;
    border: 1px solid #e4e4e4;
    outline: none;
}

.input-text {
    appearance: none;
    border-radius: 0;
}

.input-div2:after {
    content: "";
    clear: both;
    display: block;
}

.textarea-wrap {
    width: 100%;
    margin-bottom: 20px;
}
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}
.textarea-wrap textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 17px;
    margin-bottom: 7px;
    height: 100px;
    line-height: 20px;
    font-size: 13px;
    color: #4a4a4a;
    background: #fff;
    border: 1px solid #e4e4e4;
    outline: none;
    resize: none;
}


textarea {
    font-family: inherit;
}

.btn-bottom {
    width: 100%;
    padding-top: 20px;
}

.btn-div2 {
    width: 100%;
    padding: 0;
}

.btn-div2 li:first-child {
    float: left;
    width: 49%;
    padding: 0;
}

.btn-div2 li:last-child {
    float: right;
    width: 49%;
    padding: 0;
}


.wz.button.gray {
    background-color: #90949c;
    color: #fff;
    border-color: #90949c;    
}

.wz.button.primary {
    background-color: #00c4c4;
    color: #fff;
    border-color: #00c4c4;

}
.box {
    width: 150px;
    height: 150px;

}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wz.button {
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.4117647059em;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box !important;
}
.wz.button {
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.btn-darkgray{
    width: 100%;
}
.btn-mint{
    width:100%;
}

.btn-div2:after {
    content: "";
    clear: both;
    display: block;
}