@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    font-family: Pretendard Variable,pretendard;
}

body, button, html, input, textarea {
    font-family: Pretendard,-apple-system,blinkmacsystemfont,system-ui,roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
}

body, table th {
    font-weight: 400;
}

body, button, input, select, textarea {
    font-family: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.main-wrapper-content {
    padding-top: 0;
    padding-bottom: 0;
    transition: padding-top .25s;
}

section.order-list-page-container {
    margin: 0 auto;
    padding: 56px 16px 0;
    max-width: 912px;
}

section.order-list-page-container h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: 32px;
}

ul.cardlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li.cardlist-item-container {
    cursor: pointer;
}

div.purchase-summary-card {
    position: relative;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 16px;
}

dl.card-etc-area {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    color: #adb5bd;
}

dt.blind-text {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

div.purchase-card-content {
    display: flex;
    margin: 16px 0 0;
}

div.purchase-card-thumbnail {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform .5s;
    margin-right: 16px;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

div.thumbnail-placeholder {
    position: relative;
    height: 100%;
    overflow: hidden;
}

div.thumnail-visible {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
    background: no-repeat 50%/cover border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 10px
}

dl.purchase-card-title {
    flex-grow: 1;
}

span.badge-container {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
}

span.badge {
    border: solid 1px #e7f9f9;
    background-color: #e7f9f9;
    color: #008243;
    border-radius: 5px;
    padding: 2px 6px;
    height: 22px;
    line-height: 1.5;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    box-sizing: border-box;
}

dd.purchase-card-title-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    display: -webkit-box;
    margin-top: 6px;
    margin-bottom: 4px;
    max-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212529;
}

dd.purchase-description {
    display: flex;
    justify-content: space-between;
}

span.purchase-seller-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #adb5bd;
}

div.purchase-card-detail-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;
    align-items: center;
    color: #495057;
}

svg.purchase-detail-arrow-svg {
    margin-left: 4px;
    width: 12px;
    height: 12px;
    font-size: 8px;
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
}
button.search-result-inner-inner {
    width: 120px;
    height: 60px;
    background-color: #ffffffea;
    border-radius: 10px;
    margin: 15px auto 10px;
    border: 0px;
}
button.search-result-inner-inner span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    background-color: #008243;
    border-radius: 10px;
    color: #fff;
}
#search-scroll-banner {
    width: 192px;
}
.search-result-scroll-banner {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
    border: 0px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.search-result-banner-inner {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #eaeaea;
}