@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,
    BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI
    Symbol,Noto Color Emoji;
}


*, :after, :before{
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}



html {
    display: block;
}
.h-full{
    overflow-x:hidden;
    height: 100px;
}

.my-fullover {
    overflow-x: hidden;
    height: 100%;
}

p{
    margin: 0;
}

body {
    margin: 0;
    line-height: inherit;
}
body{
    display:block;
    /* margin: 8px  */
    /* margin부분이 개발자도구 상에서 짝대기 쳐져있어서 오류 발생 가능성 있어서 보류  */
}
#__next {
    min-height:100%;
}
div{
    display:block;
}
a{

    color: inherit;
    text-decoration: inherit;
}
audio,canvas,embed,iframe,img,object,video,svg{
    display: block;
    /* vertical-align: middle; */

}
blockquote, dd, dl, h1, h2, h3, h4, h5, h6, hr, p ,pre {
    margin: 0;
}
.flex-screen{
    flex-direction: column;
    height: 100vh;
    display: flex;

}

/*----------*/

    .lg\:px-\[32px\] {
        padding-left: 32px;
        padding-right: 32px;
    }


    .lg\:h-\[58px\] {
        height:58px;
    }

/*----------*/

    .lg\:block {
    display: block;
    }


    .lg\:hidden {
        display: none;
    }


.sticky{
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 56px;
    z-index: 20;
    left: 0;
    top: 0;
    border: solid 0.7px rgb(219, 213, 213);
    position: sticky;
    justify-content: space-between;
    background-color: #ffffff;
    display: flex;
}
.flex-center{
    align-items: center;
    display: flex;
}
.user-list:hover{
    background-color: #f5f2f2;
}
.content_primary{
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-weight: 500;
    font-size: 13px;
    padding: 9px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    align-items: center;
    min-height: 36px;
    display: flex;
    border-color: #e6e6e7;
    background-color: #f5f2f2;
    color: #1d1d1e;
    fill: #1d1d1e;
    padding-top: 5px;
    margin-top: 25px;
}
.min-1{
    justify-content: center;
    min-width: 80px;
    display: flex;
    cursor: pointer;

}
.min-2 {

    min-width: 63px;
    text-align: center;
    width: 282px;
}
.min-3{
    margin-right: 30px;
}
.user-name {
    text-align: center;
    width: 108px;
}

.user-date {
    text-align: center;
    width: 199px;
}

.user-type {
    text-align: center;
    width: 133px;
}
.content-inverse{
    width: 31px;
    color: #fff;
    fill: #fff;
}
.hidden-inverse{
    /* display: none; */
    width: 96px;
    color: #000000;
    fill: #000000;
}

.mt-between{
    border-color: rgba(0,0,0,.1);
    border-width: 1px;
    border-radius: 16px;
    justify-content: space-between;
    display: flex;
    margin-top: 32px;
}
.px-40{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    flex-shrink: 0;

}
.font-primary{
    font-weight:bolder;
    font-size: 20px;
    line-height: 28px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.flex-12{
    column-gap: 12px;
    display: flex;
}
.block-16{
    display: block;
}
.auth{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 30px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: #008243;
}

.relative-16{
    border-radius: 16px;
    flex-shrink: 0;
    width: 383px;
    position: relative;
}
.rounded-16{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.font-inverse{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    fill: #fff;
}
.font-center{
    align-items: center;
    display: flex;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    fill: #000000;
}
.flex-end{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.relative {
    position: relative;
}
.relative-active{
    border-radius: 9999px;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: #e6e6e7;
}
button{
    cursor: pointer;
    text-transform: none;
}
[type=button] button{
    background-color: transparent;
    background-image: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.rounded-full{
    border-radius: 9999px;
}
img {
    -o-object-fit: cover;
    object-fit: cover;
}
img, video {
    max-width: 100%;
    height: auto;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.flex-hidden{
    overflow: hidden;
    height: 100%;
    display: flex;

}
.surface-relative{
    border-width: 1px;
    flex-basis: 260px;
    position: relative;
    border-color: #e6e6e7;
    background-color: #fafafb;
}
.pt-disabled{
    padding-bottom: 28px;
    padding-top: 40px;
    border-bottom-width: 1px;
    margin-left: 32px;
    margin-right: 32px;
    border-color: rgba(0, 0, 0, .06);
}
.profile{
    align-items: center;
    flex-direction: column;
    display: flex;

}
.mb{
    margin-bottom: 12px;
}

.relative-center{
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.admin-name{
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1d1d1d;
    fill: #1d1d1d;
}
.absolute-full{
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-color: rgba(0,0,0,.1);
    cursor: pointer;

    /* margin: 0 auto; */
}

.relative-disabled{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;

}
.ml{
    flex-shrink: 0;
    margin-left: 4px;
}
.px-py{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px
}
menu, ol , ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.fill{
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    display: flex;
    margin-bottom: 8px;
}
.flex-grow{
    align-items: center;
    flex-grow: 1;
    display: flex;
}
.h-secondary{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #333334;
    fill: #3333;
}
.h-active{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #008243;
    fill: #008243;
}
.surface_light{
    background-color: #e0eae7;
}
.block-primary{
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.block-secondary{
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #333334;
    fill: #333334;
}
.basis{
    overflow-x: auto;
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 0;
}
.grid{
    padding-bottom: 64px;
    row-gap: 0;
    column-gap: 16px;
    grid-template-columns: repeat(12,minmax(0,1fr));
    width: 944px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}
/* .col-mb{
    margin-bottom: 24px;
    grid-column: 1/-1;
} */
.col-full{
    grid-column: 1/-1;
}
.sticky-top-0{
    z-index: 10;
    top: 0;
    position: sticky;
    background-color: #fff;
}
.pt-flex{
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.font-primary{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.w-240{
    width: 240px;
}
.w-between{
    display: flex;
    border-color:rgba(0,0,0,.1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 1px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}
.outline-full{
    outline:2px solid transparent;
    outline-offset: 2px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333334;
    fill: #333334;
}
.ml-10{
    margin-left: 10px;
}
.w-primary{
    width: 20px;
    height: 20px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
/* .flex-gap{
    gap:16px;
    display: flex;
} */

/* .relative-content{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
    text-transform: none;

} */
.mt-26{
    margin-top: 26px;
}
.h-20{
    border-bottom-width: 1px;
    column-gap: 20px;
    height: 36px;
    display: flex;
    text-align: left;
    border-color: rgba(0,0,0,.1);
}
.block-content{
   text-align: left;
   padding-bottom: 16px;
   height: 100%;
   display: block;
   position: relative;
   font-weight: 700;
   font-size: 15px;
   line-height: 20px;
   color: #1d1d1e;
   fill: #1d1d1e;
   background-color: transparent;
   background-image: none;
}

.flex{
    display:flex;
}
.font-x1{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}
.ml-tertiary{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 25px;
    margin-left: 8px;
    background-color: #f3f3f4;
}
.font-sm{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

p{
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.absolute-inverse{
    width: 100%;
    height: 2px;
    bottom: -1.5px;
    position: absolute;
    background-color: #1d1d1e;
}

.block-content1{
    text-align: left;
    padding-bottom: 16px;
    height: 100%;
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #b9b9bb;
    fill: #b9b9bb;;
    background-color: transparent;
    background-image: none;
 }

 .font-xl{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
 }
.ml-8{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 25px;
    margin-left: 8px;
    background-color: #f3f3f4;
}
.font-bold{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}
.mt-32{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.font-content{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.ml-4{
    margin-left: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #5b44ea;
    fill: #5b44ea;
}
.flex-x{
    column-gap: 12px;
    align-items: center;
    display: flex;
}
.shrink-0{
    flex-shrink: 0;
}
[role=button] button{
    cursor: pointer;
}
.surface-none{
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-radius: 16px;
    align-items: center;
    max-width: 164px;
    height: 32px;
    display: flex;
    background-color: #fff;
    border-color: rgba(0,0,0,.1);
}
.surface-none:hover{
    background-color: #f3f3f4;
}
.relative1{
    margin-right: 610px;
}
.over-nowrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333334;
    fill: #333334;
}
.dropdown {
    display: inline-block;
    position: relative;
}
li:hover{
    background-color: #e0eae7;
}
button:hover {
    background-color: #00704A;
}
.user-count-list{
    margin-top: 27px;
    margin-left: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover {
    background-color: #fffdfd;
}.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #d1caca;
}

.show {
    display: block;
}
.shrink-h{
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    margin-left: 4px;
}
.flex-12{
    column-gap: 12px;
    display: flex;
}

.col-center0 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    display: none;
    /* margin-top: 88px; */
}
.col-center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    display: block;
    /* margin-top: 88px; */
}
.col-center1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    /* margin-top: 88px; */
}
.mt-24{
    display: none;
    /* padding-left: 8px;
    padding-right: 8px;
    padding-top: 9px;
    padding-bottom: 9px; */
    border-top-width: 1px;
    border-bottom-width: 1px;
    column-gap: 24px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.shrink-name{
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #1d1d1e;
    fill: #1d1d1e;
}
.color-btn{
    background-color: #fff;
}
.mr-8{
    margin-right: 8px;
}
.wh-60{
    width: 14px;
    height: 10px;
}
.mt-center{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 100px;
}
/* .mt-quaternary{
    margin-top: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8a8a8b;
    fill: #8a8a8b;
} */

.grid-px {
    padding-left: 12px;
    padding-right: 45px;
    column-gap: 124px;
    grid-auto-flow: column;
    display: grid;
}


.auth1{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    justify-content: center;
    height: 30px;
    width: 100px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: #d0320b;
}
.auth1:hover{
    background-color: #892107;
}
/**--------------------------------------------------------------------------*/
.user-list{
    width: 944px;
    height: 23px;
    border-style: solid;
    border-bottom-width: 1px;
    align-items: center; min-height: 60px;
    display: flex;
    border-color: #e6e6e7;
}
.check{
    margin-left: 10px;
}
.check2{
    width: 100px;
    height: 20px;
    accent-color: #008243;

}
.id-user{
    text-align: center;
    width: 124px;
}
.email{ /* 이메일  */
    width: 300px;
    text-align: center;
}
.name{ /* 이름  */
    text-align: center;
    width: 96px;
}
.date{ /* 가입 날짜  */
    text-align: center;
    width: 199px;
}
.type{ /* 회원 유형  */
    text-align: center;
    width: 150px;
}
.number{
    text-align: center;
    width: 126px;
}

.info {
    text-align: center;
    width: 108px;
}

.board-footer {
    padding: 0 16px 16px;
    text-align: center;
}

.pagination {
    display: inline-block;
    margin: 40px auto 21px;
    min-width: 390px;
    position: relative;
}

a {
    outline: none;
}

.desktop-only a{
    margin: 0 5px 0 5px;
}